img{
  max-width: 90%;
  max-height: 90%;
}

h1{
  font-family: monospace;
  font-size: 2.5em;
}

#home{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start{
  display: none;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#failed{
  display: none;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layer{
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#layer1{
  display: none;
}

#layer2{
  display: none;
}

#layer3{
  display: none;
}

#layer4{
  display: none;
}

#layer5{
  display: none;
}

#layer6{
  display: none;
}

#layer7{
  display: none;
}

#finish{
  display: none;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home img, #finish img{
  position: absolute;
}

button{
  max-height: 4em;
  max-width: 20em;
  background-color: rgb(138, 138, 194);
  transition: 0.5s;
  color: white;
  font-size: 32px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  margin: 1%;
}

button:hover{
  background-color: rgba(138, 138, 194, 0.692);
  color: rgb(228, 228, 228);
}